#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}

.background {
  background-color: #1a2026;
  background-size: cover; /* Ensures the image covers the whole area */
  background-repeat: repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  height: 100%; /* Full viewport height */
  width: 100%; /* Full viewport width */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 665px) {
  .btn-menu {
    width: 50% !important;
  }

  .btn-add {
    width: 30% !important;
  }

  .btn-nav {
    width: 47% !important;
  }
}
